<p id="notice"><%= notice %></p>

<h1>
  <%= @post.title %>
</h1>

<p>
  <%= markdown(@post.body) %>
</p>

<%= link_to 'Edit', edit_post_path(@post) , class: "btn btn-light mr-3"%> 
<%= link_to 'Back', posts_path, class: "btn btn-light mr-3" %>
